<h2>Lista de postagens</h2>
<br />
<a href="/admin/postagens/add"><button class="btn btn-success">Nova postagem</button></a>

{{#each postagens}}
    <div class="card  mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Slug: {{slug}}</p>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small>
            <br>
            <small>Categoria: {{categoria.nome}}</small>
            <br>
            <a href="/admin/postagem/edit/{{_id}}"><button class="btn btn-success">Editar postagem</button></a>
            <br>
            <a href="/admin/postagem/delete/{{_id}}"><button class="btn btn-danger mt-2">Deletar postagem</button></a>
        </div>
    </div>
{{else}}    
    <p>Nunhuma postagem resgistrada</p>
{{/each}}